<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quiz</title>
    </head>
    <body>
        <p>Autor: <span>Carlos Vilo <br />
             <a>andreimyvc@gmail.com</a></span></p>
        <br />
        <img  style="flex-align:center; width:10%; height: 40%;"
        src="https://www.miriadax.net/image/user_male_portrait?img_id=12660333&t=1435764904502" alt="Foto de Perfil">
    </body>
</html>
