<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>El portal donde podrás crear tus porpios Juegos.</p>
    <p><a href="/quizes">Go!</a></p>
  </body>
</html>
