<label for="preg" class="rem">Pregunta: </label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"> <p></p>
<label for="resp" class="rem">Respuesta: </label>
<input type="text" id="preg" name="quiz[respuesta]" value="<%= quiz.respuesta %>"> <p></p>
<a href="/quizes">Cancelar</a>
<input  type="submit" value="Salvar">