<label for="preg" class="rem">Pregunta: </label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"> <p></p>
<label for="resp" class="rem">Respuesta: </label>
<input type="text" id="preg" name="quiz[respuesta]" value="<%= quiz.respuesta %>"> <p></p>
<label for="tema" class="rem">Respuesta: </label>
<select id="tema" name="quiz[tema]">
  <option value="otro" selected>Otro</option>
  <option value="humanidades">Humanidades</option>
  <option value="ocio">Ocio</option>
  <option value="ciencia">Ciencia</option>
  <option value="tecnologia">Tecnología</option>
  <option value="Historia">Historia</option>
</select>
<a href="/quizes">Cancelar</a>
<input  type="submit" value="Salvar">