<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h2>Quiz: el juego de las preguntas y respuestas</h2>
        Respuesta: <%= respuesta %>
        <a href="/quizes/question" >Intentalo otra vez</a>
    </body>
</html>
