<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h2>Quiz: el juego de las preguntas y respuestas</h2>        
        <p>
            <%= respuesta %>
            <a href="/quizes/<%= quiz.id %>">Volver</a>
        </p>
        <a href="/quizes" >Intentalo otra vez</a>
    </body>
</html>
